class Setup:
	config = {
		"chat_id": 0, 
		"manager_bot": '<TOKEN>',
		"manager_bot_name": 'manager_botname',


		"user_to_bot": {
			"<@username>": '<botname>'
		},

		"tokens": {
			"botname": '<token>',
		},
		"names": {
			"botname": 'Bot name',
		},
		"voice_pitch": {
			"botname": 40,
		}
	}